[submodule "backend"]
	path = backend
	url = https://github.com/miniU-ecommerce/backend.git
	branch = main
[submodule "frontend"]
	path = frontend
	url = https://github.com/miniU-ecommerce/website.git
	branch = main
